body{
    padding:0px;
    margin:0px;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;

}

/* starting of Nav Section */
nav{
   /* padding-right:20px; */
   /* border: 1px solid green; */
   position: absolute;
   right: 10px;
}
nav>ul{
    display: flex;
    gap: 28px;
    list-style: none;
    float: right;
    align-items: center;
    align-self: flex-end;
    
}
nav>ul>li>a{
    text-decoration: none;
    text-align: center;
    color: #202020;

}
/* Nav Icon section */
nav>ul>li>div.iconP{
    display: flex;
    gap:1px;
    height:11px;

}
nav>ul>li>div.iconP>div{
    background-color: #b3b4b1;
    height:6px;
    width: 6px;
    border-radius: 3px;
    margin: 1px;
}
nav>ul>li>div.iconP>div:hover{
    background-color: #bd3c09;
    
}
/* Nav icon Ending */
nav>ul>li>button{
    width:100px;
    height: 45px;
    text-align: center;
    background-color: #1675EB;
    border: none;
    border-radius: 6px;
    color: white;
    font-size:large;
}
body>section{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

body>section>div.container div#logo>img{
    width:310px;
    margin: 10px;
}
body>section>div.container{
    text-align: center;
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
}
body>section>div.container>.wrap{
    /* border: 1px solid red; */
    height: 18rem;
    display: flex;
    flex-flow: column nowrap;
}
/* Ending of Nav section */

/* Section Starting */
section>div.container>div>form{
    /* border: 1px solid red; */
    height: 18rem;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    

}
section>div.container>div>form>div.form-group{
    width:582px;
    height: 41px;
    border: 1.5px solid #cccccc;
    border-radius: 25px;
    display:flex;
    justify-content: center;
    align-items: center;
}

section>div.container>div>form>div.form-group>img#search-icon{
    width: 27px;
}
section>div.container>div>form>div.form-group>img#mic-icon{
    width: 22px;
}
/* end of icon for form */
section>div.container>div>form>div.form-group>input{
    height:34px;
    width: 487px;
    margin: 10px 10px;
    border: none;
}
 section>div.container>div>form>div.form-group>input{ 
    font-size: 20px;
}
section>div.container>div>form>div.form-group>input:focus{
    outline: none;
}

section>div.container>div>form>div{
   margin:5px ;
}

section>div.container>div>form>div>button{
    height:36px;
    width: 142px;
    border: none;
    border-radius:5px;
}
section>div.container>div>form>div.section-lang{
    font-size: 12px;
}

section>div.container>div>form>div.section-lang>ul{
    display: flex;
    gap:20px;
    list-style: none;
    margin-right: 0px;
}

section>div.container>div>form>div.section-lang>ul>li>a{
    text-decoration: none;
}


/* Ending of Section */

/* Footer Section */
footer{
    margin-top: auto;
    background-color: #dededf;
    font-size: 14px;
}

footer>div.country{
    border-bottom:1px solid #a0a0a0;
    padding: 5px 0px 0px 15px;
    height: 48px !important;
    
}
div.footer{
    display: flex;
    justify-content: center;
}

div.footer>div.section-ads{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    align-content: center;
    width: 98%;
}

div.section-ads a{
    text-decoration: none;
    color: #202020;
}

div.footer>div.section-ads ul{
  list-style-type: none;
  display: flex;
  gap: 19px;
  padding-right: 7px;
}

div.footer>div.section-ads>div.row1{

}

div.footer>div.section-ads>div.row2{
    
}

div.footer>div.section-ads>div.row3{
}

div.footer>div.section-ads>div.row1>ul{
    /* text-align: left; */
}

div.footer>div.section-ads>div.row3>ul{
    /* padding-right: 10px !important; */
    /* justify-content: end; */
   
}

img.gleaf{
    height: 15px;
}
