body{
    padding:0px;
    margin:0px;
    min-height: 100vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;

}

/* starting of Nav Section */
nav{
   padding:0px 20px;
}
nav>ul{
    display: flex;
    gap: 28px;
    list-style: none;
    float: right;
    align-items: center;
    align-self: flex-end;
    
}
nav>ul>li>a{
    text-decoration: none;
    text-align: center;
    color: #202020;

}
/* Nav Icon section */
nav>ul>li>div.iconP{
    display: flex;
    gap:1px;
    flex-direction: ;
    height:11px;

}
nav>ul>li>div.iconP>div{
    background-color: #b3b4b1;
    height:6px;
    width: 6px;
    border-radius: 3px;
    margin: 1px;
}
nav>ul>li>div.iconP>div:hover{
    background-color: #bd3c09;
    
}
/* Nav icon Ending */
nav>ul>li>button{
    width:100px;
    height: 45px;
    text-align: center;
    background-color: #1675EB;
    border: none;
    border-radius: 6px;
    color: white;
    font-size:large;
}
body>section{
    height:60vh;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

body>section>div.container>div#logo>img{
    height:110px;
    width:330px;
    margin: 10px;
}
body>section>div.container{
    height:100%;
    width: 100%;
    text-align: center;
    display: inline-block;
    align-items: center;
    justify-content: center;
    align-content: center;
    /* padding: 200px; */
}
/* Ending of Nav section */

/* Section Starting */
section>div.container>div>form{
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}
section>div.container>div>form>div.form-group{
    width:582px;
    height: 44px;
    border: 1.5px solid #cccccc;
    border-radius: 25px;
    display:flex;
    /* gap: 10px; */
    justify-content: center;
    align-items: center;
    /* margin: 10px; */
    padding:0px 3px;

}

section>div.container>div>form>div.form-group>img#search-icon{
    height:20px;
    width: 27px;
}
section>div.container>div>form>div.form-group>img#mic-icon{
    height:20px;
    width: 22px;
}
/* end of icon for form */
section>div.container>div>form>div.form-group>input{
    height:34px;
    width: 487px;
    margin: 10px 10px;
    border: none;
}
 section>div.container>div>form>div.form-group>input{ 
    font-size: 20px;
}
section>div.container>div>form>div.form-group>input:focus{
    outline: none;
}

section>div.container>div>form>div{
   margin:5px ;
}

section>div.container>div>form>div>button{
    height:36px;
    width: 142px;
    margin: 11px 4px;
    border: none;
    border-radius:5px;
}

section>div.container>div>form>div.section-lang>ul{
    display: flex;
    gap:20px;
    list-style: none;
    margin-right: 0px;
}

section>div.container>div>form>div.section-lang>ul>li>a{
    text-decoration: none;
}

section{
    margin-top: auto;
    /* this was done to possition the section at middle since the body is displayed as flex */
}
/* Ending of Section */

/* Footer Section */
footer{
    margin-top: auto;
    background-color: #dededf;
}

footer>div.country{
    border-bottom:1px solid #a0a0a0;
    padding: 5px 0px 0px 10px;
    /* width: 1910px; */
    height: 48px !important;
    
}

div.footer>div.section-ads{
    display: flex;
    align-items: baseline;
    /* width: 100%; */
 
}

div.section-ads a{
    text-decoration: none;
    margin-right: 10px;
}

div.footer>div.section-ads ul{
  list-style-type: none;
  display: flex;
  gap: 15px;
  margin: 0px;
}

div.footer>div.section-ads>div.row1{
  flex:1;
}

div.footer>div.section-ads>div.row2{
    flex:1;
    text-align: center;
    
}

div.footer>div.section-ads>div.row3{
    flex:1;
    text-align: right;
   
}

div.footer>div.section-ads>div.row1>ul{
    justify-content: start;
    padding: 0px 0px 0px 10px;
}

div.footer>div.section-ads>div.row3>ul{
    padding-right: 10px !important;
    justify-content: end;
   
}
